
<div class="page-wraper">

    <!-- header -->
    <app-header-light12></app-header-light12>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <app-banner3 [data] = "banner"></app-banner3>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Code Box -->
			<div class="section-full content-inner bg-white video-section">
				<div class="container">
					<div class="header-box">
						<div class="row align-items-center">
							<div class="col-lg-3 col-md-4">
								<img src="assets/images/header.png" alt=""/>
							</div>
							<div class="col-lg-9 col-md-8">
								<h2 class="title">Check Header Style 05</h2>
								<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm.</p>
							</div>
						</div>
					</div>		
				</div>
			</div>
			<!-- Testimonials blog -->
			<app-testimonial1></app-testimonial1>
			<!-- Testimonials blog End -->
			<!-- Code Box End -->
        </div>
        <!-- contact area END -->
    </div>
    <!-- Footer -->
   <!-- Newsletter -->
	 <app-newsletter2></app-newsletter2>
   <!-- Footer -->
     <app-footer13></app-footer13>
    <!-- Footer END-->
   <!-- scroll top button -->
   <app-scroltop></app-scroltop>
</div>