<div class="banner-langschool" style="background-color: #d9e9f4 !important;">
    <div class="dlab-bnr-inr banner-content" style="background-image:url(assets/images/main-slider/slide1.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <div class="row">
                    <div class="col-sm-6 col-2"></div>
                    <div class="col-sm-6 col-10">
                        <div class="dlab-bnr-inr-entry text-left">
                            <!-- <h4 class="text-primary">Language School</h4> -->
                            <h2 style="font-size: 48px; font-weight: 600;">Worldclass Training In <br/><span style="color: #1076bc;">Network & Security.</span></h2>

                            <p class="bg-sm-para" style="text-align: justify; font-size: 16px; line-height: 25px;">Inspired, guided, and supported students, empowering them to surpass barriers and achieve their aspirations with determination and dedication.
                            </p>
                            <div class="input-group search-coures">
                                <a [routerLink]="['/courses']" class="site-button btnhover10">View courses &nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                                <!-- <div>
                                    <select>
                                        <option>All Category</option>
                                        <option>Mathematics</option>
                                        <option>English</option>
                                        <option>Science</option>
                                    </select>
                                </div>
                                <div class="input-group-append">
                                    <button class="site-button btnhover17">Search</button>
                                </div> -->
                            </div>
                            <!-- <div class="row mt-3 w-100">
                                <div class="col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="title text-primary mt-2 mb-2">50+</h5>
                                            <p style="margin-bottom: 0 !important;">courses</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="title text-primary mt-2 mb-2">450+</h5>
                                            <p style="margin-bottom: 0 !important;">Students</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h5 class="title text-primary mt-2 mb-2">20+</h5>
                                            <p style="margin-bottom: 0 !important; line-height: 25px !important;">Years of <br>Experience</p>

                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>