<div class="section-full content-inner-2 bg-white langschool-about">
    <div class="container">
        <div class="row sp60">
            <div class="col-lg-6 col-md-6 col-sm-12 m-sm-b30">
                <img src="assets/images/about/pic3.jpg" alt=""/>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="section-head head-langschool">
                    <h5 class="text-primary">What's Hot?</h5>
                    <h2 class="title text-primary">Our most popular courses.</h2>
                    <p>Explore our most popular courses, curated for excellence and designed for real-world success,catering to varied interests and career paths.</p>
                </div>
                <!-- <img src="assets/images/about/about2.jpg" alt=""/> -->
                <div class="row w-100">
                    <div class="blog-carousel owl-btn-center-lr owl-carousel owl-btn-3 btn-white py-1">
                        <div class="items">
                            <div class="event-post post-grid shadow radius bg-secondary-2 border-0">
                                <div class="dlab-post-media">
                                    <a href="javascript: void(0)"><img src="../../../../assets/images/courses/Untitled-design-2.png" alt=""></a>
                                </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-meta">
                                        <ul class="w-100 row courses">
                                            <li class="col-6 px-0" > 
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </li>
                                            <li class="post-tag col-6 px-0 w-100" style="text-align: right !important; font-weight: 700;"> <i class="la la-clock"></i> 80 Hours </li>
                                        </ul>
                                    </div>
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="javascript: void(0)">CCIE Security V6.1 <br>&nbsp;</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="event-post post-grid shadow radius bg-secondary-2 border-0">
                                <div class="dlab-post-media">
                                    <a href="javascript: void(0)"><img src="../../../../assets/images/courses/Untitled-design-11.png" alt=""></a>
                                </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-meta">
                                        <ul class="w-100 row courses">
                                            <li class="col-6 px-0" > 
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </li>
                                            <li class="post-tag col-6 px-0 w-100" style="text-align: right !important; font-weight: 700;"> <i class="la la-clock"></i> 80 Hours </li>
                                        </ul>
                                    </div>
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="javascript: void(0)">Microsoft Azure Administrator Training.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="event-post post-grid shadow radius bg-secondary-2 border-0">
                                <div class="dlab-post-media">
                                    <a href="javascript: void(0)"><img src="../../../../assets/images/courses/avaya.webp" alt=""></a>
                                </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-meta">
                                        <ul class="w-100 row courses">
                                            <li class="col-6 px-0" > 
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </li>
                                            <li class="post-tag col-6 px-0 w-100" style="text-align: right !important; font-weight: 700;"> <i class="la la-clock"></i> 80 Hours </li>
                                        </ul>
                                    </div>
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="javascript: void(0)">Cisco Certified Network Associate</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="items">
                            <div class="event-post post-grid shadow radius bg-secondary-2 border-0">
                                <div class="dlab-post-media">
                                    <a href="javascript: void(0)"><img src="../../../../assets/images/courses/python.jpg" alt=""></a>
                                </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-meta">
                                        <ul class="w-100 row courses">
                                            <li class="col-6 px-0" > 
                                                <ul class="item-review">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </li>
                                            <li class="post-tag col-6 px-0 w-100" style="text-align: right !important; font-weight: 700;"> <i class="la la-clock"></i> 80 Hours </li>
                                        </ul>
                                    </div>
                                    <div class="dlab-post-title">
                                        <h4 class="post-title"><a href="javascript: void(0)">Ultimate Python Basics Training</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="w-100 d-flex justify-content-end mt-2 mb-0 pb-0">
                    <a [routerLink]="['/courses']" class="text-primary" style="text-decoration: underline;">Explore More &nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

                </div> -->
            </div>
        </div>
    </div>
</div>