/* .pdf-container {
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100vh !important;
  }
  
  iframe {
    border: none;
    height: 100% !important;
  }
   */

   .pdf-container {
    position: relative;
    user-select: none;
    overflow: hidden; /* Hides extra space around iframe */
    height: 100vh !important;
    border: 1px solid #ccc;
  }
  
  iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Allows scrolling */
    pointer-events: auto; /* Enables scrolling */
    /* pointer-events: none;   */
    user-select: none; /* Disable text selection */
    -webkit-user-drag: none; /* Disable drag in Safari */
    touch-action: pan-y; /* Allow vertical gestures only */
  }

  .pdf-viewer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.377);
  }
  canvas {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.9s ease;

  }

  .center-page {
    display: flex;
    justify-content: center;
  }
  
  