/* .pdf-container {
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100vh !important;
  }
  
  iframe {
    border: none;
    height: 100% !important;
  }
   */

   .pdf-container {
    position: relative;
    user-select: none;
    overflow: hidden; /* Hides extra space around iframe */
    height: 100vh !important;
    border: 1px solid #ccc;
  }
  
  iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Allows scrolling */
    pointer-events: auto; /* Enables scrolling */
  }
  
  