<div class="container mt-4">
    <h5 class="mb-3">Courses</h5>
    <div class="row">
        <div class="col-12 mb-2">
            <div class="card mb-2"
                    [ngClass]="{ 'selected': selectedCourseId === course.id }"
                    [ngbTooltip]="'Course 1'" *ngFor="let course of myCourses; let i = index"
                    > <!--loop data here-->
                    <div class="card-body d-flex justify-content-between align-items-center py-0" style="cursor: pointer;" (click)="selectedCourseId !== course.id && viewCourse(course.id)">
                        <!-- Image (Left-Aligned) -->
                        <div class="course-image-container px-0" style="position: relative;">
                                <img [src]="course.course_img" alt="">
                        </div>

                        <!-- Course Info (Right-Aligned) -->
                        <div class="course-info">
                            <div class="post-meta truncate-text" >{{course.course_title}}</div>
                            <h6 class="post-title text-truncate m-b0" title="'learn Course 1'">
                                {{course.description !== null ? course.description : 'course ' + i}}
                            </h6>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>