
<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-gray">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
		<div class="section-full content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 m-b30">
						<div class="course-view text-center">
							<!-- <a [routerLink]="['/course-pdf']" class="text-primary" style="text-decoration: underline;">Explore More &nbsp;&nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> -->

							<h2 class="m-t0 m-b10 font-28 title text-black">{{SelectedCourseName ? SelectedCourseName : 'Course Title'}}</h2>
							<!-- <ul class="course-info">
								<li> 
									<i class="fa fa-user"></i> <span> 65</span> 
									<div class="course-info-dec">Student</div>
								</li>
								<li> 
									<i class="fa fa-star"></i> <span> 4.3</span> 
									<div class="course-info-dec">Reviews (23)</div>
								</li>
								<li> 
									<i class="fa fa-clock-o"></i> <span> 2.0</span> 
									<div class="course-info-dec">Learning Hours</div>
								</li>
							</ul> -->
						</div>
					</div>
					<!-- Side bar start -->
					<div class="col-xl-3 col-lg-4 col-md-12 m-b30 d-none d-lg-block">
						<aside class="side-bar sticky-top">
							<div class="widget d-none d-lg-block">
								<div class="teacher-info text-center">
									<div class="top-info">
										<!-- <span class="price text-primary">Free</span>
										<a href="" class="site-button button-sm">Take This Course</a> -->
									</div>
									<div class="teacher-pic"> 
										<a href="#"><img [src]="user.s_student_img" (error)="onImageError($event)" alt=""></a> 
									</div>
									<h4 class="name">{{user.s_name}}</h4>
									<span class="position">Student</span>
									<div class="clearfix m-b20">
										<a href="" class="site-button button-sm"><i class="fa fa-envelope m-r5"></i>{{user.s_email}}</a>
									</div>
									<!-- <ul class="social-list">
										<li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
										<li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
									</ul> -->
								</div>
							</div>
							<!-- <app-category-list1></app-category-list1> -->
							<app-recent-posts1 [courseList]="myCourseList" (courseSelected)="viewCourse($event)" class="d-none d-lg-block"></app-recent-posts1>
						</aside>
					</div>
					<!-- Side bar END -->
					<!-- left part start -->
					<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
						<div class="row">
							<div class="col-lg-12">
								<div class="media m-b30" #mediaDiv>
									<img src="assets/images/blog/default/thum1.jpg" *ngIf="!videoPlayerOpen" alt="">
									<!-- <app-video-embed
										class="w-100"
										*ngIf="videoPlayerOpen"
										[VideoURL]="getSafeUrl(vimeoUrl)"
										[VideoType]="VideoType"
										[videoId]="videoId"
									></app-video-embed> -->
								
									<div class="video-container" (contextmenu)="$event.preventDefault()">
										<!-- YouTube & Vimeo Embed -->
										<iframe *ngIf="videoType !== 'server'" 
												[src]="embedUrl | safeUrl"
												frameborder="0"
												allow="autoplay; encrypted-media"
												allowfullscreen>
										</iframe>
									  
										<!-- Server-hosted video -->
										<video *ngIf="videoType === 'server'"
											   [src]="vimeoUrl"
											   controls
											   autoplay
											   controlsList="nodownload"
											   disablePictureInPicture
											   (contextmenu)="$event.preventDefault()"
											   style="width: 100%; border-radius: 10px;">
										</video>
									  </div>
									  
								</div>
							</div>
							<div class="col-lg-12">
								
								<!-- Tabs -->
								<!-- <app-courses6 [course]="selectedCourse"></app-courses6> -->
								<div class="course-details dlab-tabs border-top bg-tabs">
									<ul class="nav nav-tabs ">
										<li *ngIf="selectedCourse">
											<a data-toggle="tab" href="#description" class="active">
												<i class="fa fa-bookmark m-r10"></i>
												<span class="title-head">Description</span>
											</a>
										</li>
										<li *ngIf="selectedCourse">
											<a data-toggle="tab" href="#module">
												<i class="fa fa-cube"></i>
												<span class="title-head">Modules & Sessions</span>
											</a>
										</li>
										<li *ngIf="selectedCourse">
											<a data-toggle="tab" href="#note">
												<i class="fa fa-sticky-note"></i>
												<span class="title-head">Note</span>
											</a>
										</li>
										<li *ngIf="selectedCourse">
											<a data-toggle="tab" href="#lab">
												<i class="fa fa-flask"></i>
												<span class="title-head">Lab</span>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#material">
												<i class="fa fa-file-text"></i>
												<span class="title-head">Materials</span>
											</a>
										</li>
										<!-- <li>
											<a data-toggle="tab" href="#review">
												<i class="fa fa-comments"></i>
												<span class="title-head">Review </span> <span class="text-primary">(3)</span>
											</a>
										</li> -->
									</ul>
									<div class="tab-content">
										<div id="description" class="tab-pane active"  *ngIf="selectedCourse">
											<h3 class="m-t0 m-b10">About This Course</h3>
											<p>{{selectedCourse.course.description ? selectedCourse.course.description : 'No Description'}}</p>
											<!-- <p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
											<h3 class="m-b10">Course’s Objectives</h3>	
											<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
											<h3 class="m-b10">Learning Outcomes</h3>
											<ul class="list-checked primary">
												<li>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and </li>
												<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </li>
												<li>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</li>
												<li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
												<li>Dorem ipsum dolor sit amet</li>
											</ul> -->
											<!-- <div class="m-t10">
												<h5>Share :</h5>
												<ul class="dlab-social-icon">
													<li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
													<li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
													<li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
													<li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
												</ul>
											</div> -->
										</div>
										<div id="module" class="tab-pane" *ngIf="selectedCourse">
											<!-- <app-accordian1></app-accordian1> -->
											<div class="dlab-accordion faq-1 box-sort-in m-b30 space  accdown1" id="accordion001">
												<div class="panel" *ngFor="let module of selectedCourse.modules; let i = index">
													<div class="acod-head">
													  <h6 class="acod-title">
														<a href="javascript:void(0);" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-target]="'#collapse' + i" [attr.aria-expanded]="i === 0">
														  {{ module.module_title }}
														  <p class="post-title text-truncate m-b0" style="font-size: 13px !important; font-weight: lighter;">
															Module {{ i + 1 }} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 5 Hours 30 Minutes
														  </p>
														</a>
													  </h6>
													</div>
													<div [id]="'collapse' + i" class="acod-body collapse" data-parent="#accordion001">
													  <div class="acod-content" *ngFor="let session of module.sessions; let j = index"   [ngClass]="{'border border-primary': session.id === selectedSessionId && module.id === selectedModuleId}">
														<div class="card w-100" style="height: fit-content !important; border: none !important; cursor: pointer;">
														  <div class="card-body" style="height: fit-content !important;" (click)="playVideo(session.url, module.id, session.id)">
															<h6 class="post-meta truncate-text m-b0">{{ session.session_title }}</h6>
															<p class="post-title text-truncate m-b0" style="font-size: 13px !important;">
															  {{ session.hour }} Hours {{ session.minute }} Minutes {{ session.seconds }} Seconds
															</p>
														  </div>
														</div>
													  </div>
													</div>
												  </div>
												  
												<!-- <div class="panel" *ngFor="let module of selectedCourse.modules; let i = index">
													<div class="acod-head">
														<h6 class="acod-title">
															 <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" [aria-expanded]="i === 0">{{module.module_title}}
																<p class="post-title text-truncate m-b0" style="font-size: 13px !important; font-weight: lighter;">
																	Module {{i + !}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;5 Hours 30 Minutes 
																</p>
															</a> 
														</h6>
														
													</div>
													<div id="collapse1" class="acod-body collapse show" data-parent="#accordion001" *ngFor="let session of module.sessions">
														<div class="acod-content">
															<div class="card w-100" style="height: fit-content !important; border: none !important">
																<div class="card-body" style="height: fit-content !important;">
																	<h6 class="post-meta truncate-text m-b0" >{{session.session_title}} </h6>
																	<p class="post-title text-truncate m-b0" style="font-size: 13px !important;">
																		{{session.hour}} Hours {{session.minute}} Minutes {{session.seconds}} Seconds
																	</p>
											
																</div>
															</div>
														</div>
													</div>
												</div> -->
											</div>
										</div>
										<div id="note" class="tab-pane" *ngIf="selectedCourse">
											<h3 class="m-t0">Note</h3>
											<div id="comments-1" class="dlab-instructor">
												<ol class="commentlist row" *ngIf="selectedCourse.notes.length > 0">
													<li class="comment col-md-6 w-100 mb-0" style="height: 80px !important; cursor: pointer;" *ngFor="let note of selectedCourse.notes">
														<div class="comment_container" (click)="navigateToPdf(note.note_file)" style="height: fit-content !important;"> <img class="avatar avatar-60 photo" src="assets/images/icon/pdf-icon.png" alt="">
															<div class="comment-text">
																<h3 class="author m-t0 m-b0" style="margin-bottom: 0px !important;">{{note.title}}</h3> 
																<div class="w3-separator bg-primary"></div>
																<div class="description m-b15">
																	<p>{{note.createdAt | date: 'dd/mm/yyyy'}}</p>
																</div>
															</div>
														</div>
													</li>
												</ol>
												<div *ngIf="selectedCourse.notes.length === 0" class="d-flex justify-content-center align-items-center">
													<h5>
														No notes found
													</h5>
												</div>
											</div>
										</div>
										<div id="lab" class="tab-pane" *ngIf="selectedCourse">
											<h3 class="m-t0">Lab</h3>
											<div id="comments-1" class="dlab-instructor">
												<ol class="commentlist row" *ngIf="selectedCourse.labs.length > 0">
													<li class="comment col-md-6 w-100 mb-0"  style="height: 80px !important;cursor: pointer;"  *ngFor="let lab of selectedCourse.labs">
														<div class="comment_container" (click)="navigateToPdf(lab.lab_file)" style="height: fit-content !important;"> <img class="avatar avatar-60 photo" src="assets/images/icon/pdf-icon.png" alt="">
															<div class="comment-text">
																<h3 class="author m-t0 m-b0" style="margin-bottom: 0px !important;">{{lab.title}}</h3> 
																<div class="w3-separator bg-primary"></div>
																<div class="description m-b15">
																	<p>{{lab.createdAt | date: 'dd/mm/yyyy'}}</p>
																</div>
															</div>
														</div>
													</li>
												</ol>
												<div *ngIf="selectedCourse.labs.length === 0" class="d-flex justify-content-center align-items-center">
													<h5>
														No labs found
													</h5>
												</div>
											</div>
										</div>
										<div id="material" class="tab-pane">
											<h3 class="m-t0">Materials</h3>
											<div id="comments-1" class="dlab-instructor">
												<ol class="commentlist row" *ngIf="myMaterialList.length > 0">
													<li class="comment col-md-6 w-100 mb-0"  style="height: 80px !important; cursor: pointer;" *ngFor="let material of myMaterialList">
														<div class="comment_container" (click)="material.type === 'pdf' ? navigateToPdf(material.document_link) : openLink(material.link)" style="height: fit-content !important;"> <img class="avatar avatar-60 photo" [src]="material.type === 'pdf' ? 'assets/images/icon/pdf-icon.png' : 'assets/images/icon/link-icon.png'" alt="">
															<div class="comment-text">
																<h3 class="author m-t0 m-b0" style="margin-bottom: 0px !important;">{{material.title}}</h3> 
																<div class="w3-separator bg-primary"></div>
																<div class="description m-b15">
																	<p>{{material.type}}</p>
																</div>
															</div>
														</div>
													</li>
												</ol>
												<div *ngIf="myMaterialList.length === 0" class="d-flex justify-content-center align-items-center">
													<h5>
														No Materials found
													</h5>
												</div>
											</div>
										</div>
						
									</div>
								</div>
								<!-- Tabs End-->

							</div>
						</div>
					</div>
					<div class="col-lg-12 d-md-block d-lg-none mt-2">
						<app-recent-posts1 [courseList]="myCourseList" (courseSelected)="viewCourse($event)" 
						  class="d-block d-lg-none"></app-recent-posts1>
					  </div>
					  <div class="col-lg-12 d-md-block d-lg-none mt-2">
						<div class="widget">
							<div class="teacher-info text-center">
								<div class="top-info">
									<!-- <span class="price text-primary">Free</span>
									<a href="" class="site-button button-sm">Take This Course</a> -->
								</div>
								<div class="teacher-pic"> 
									<a href="#"><img [src]="user.s_student_img" (error)="onImageError($event)" alt=""></a> 
								</div>
								<h4 class="name">{{user.s_name}}</h4>
								<span class="position">Student</span>
								<div class="clearfix m-b20">
									<a href="" class="site-button button-sm"><i class="fa fa-envelope m-r5"></i>{{user.s_email}}</a>
								</div>
								<!-- <ul class="social-list">
									<li><a href="javascript:void(0);" class="site-button circle fa fa-facebook facebook"></a></li>
									<li><a href="javascript:void(0);" class="site-button circle fa fa-twitter twitter"></a></li>
									<li><a href="javascript:void(0);" class="site-button circle fa fa-linkedin linkedin"></a></li>
									<li><a href="javascript:void(0);" class="site-button circle fa fa-whatsapp whatsapp"></a></li>
								</ul> -->
							</div>
						</div>
					  </div>
					<!-- left part start -->
				</div>
            </div>
        </div>
	</div>
    <!-- Content END-->
    <!-- Footer -->
   <!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->
   <!-- Footer -->
    <app-footer9></app-footer9>
    <!-- Footer END-->
    <!-- scroll top button -->
    <!-- scroltop -->
    <app-scroltop></app-scroltop>
</div>