<div class="section-full content-inner bg-gray">
    <div class="container mb-0">
        <div class="row m-b0">
            <div class="col-lg-4 col-md-12 col-sm-12 m-b0" style="border-right: 2px solid #1076bc;">
                <div class="section-head head-langschool m-b0">
                    <h5 class="text-primary">Start Now!</h5>
                    <h2 class="title" style="color: #1076bc !important; font-size: 42px !important;">Why IPRULERS should be your choice for online training ?</h2>
                    <!-- <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p> -->
                    <p style="text-align: justify;">At IPRulers, we’re passionate about empowering individuals with the knowledge and skills to navigate the digital landscape securely. Our Vendor-Specific courses deliver targeted insights ensuring your success and proficiency.</p>
                    <!-- <p>At IPRulers, we are driven by an unwavering passion for empowering individuals with cutting-edge knowledge and practical skills to master the ever-evolving digital world with confidence and security. Our elite, vendor-specific courses provide in-depth, targeted insights designed to sharpen your expertise, ensuring you not only succeed but thrive in the industry. With IPRulers, you’re not just learning—you’re future-proofing your career and becoming a true digital pioneer!</p> -->
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 m-b0">
                <div class="row" style="margin-top: auto !important; margin-bottom: auto !important;">
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang" style="background-color: #d9e9f4; border-radius: .75rem;">
                            <div class="icon-bx-xs  radius" style="line-height: 0 !important;">  <span class="icon-cell" style="line-height: 0 !important;">
                                <img src="../../../../assets/images/icon/speciality-1.c9841eeb.svg" style="width: 56px !important; height: 56px !important;" alt="">
                            </span > </div>
                            <div class="icon-content">
                                <span>
                                    <h5 class="dlab-tilte m-b0" style="font-size: 17px !important;">Flexible</h5><br/>
                                    <p>Tailor study sessions according to your preferred schedule and pace. Be comfortable.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang" style="background-color: #1076bc; border-radius: .75rem;">
                            <div class="icon-bx-xs radius" style="line-height: 0 !important;"> <span class="icon-cell" style="line-height: 0 !important;">
                                <img src="../../../../assets/images/icon/speciality-2.5e88c343.svg" style="filter: brightness(0) invert(1); width: 56px !important; height: 56px !important;" alt="">

                            </span > </div>
                            <div class="icon-content">
                                <span style="color: #fff !important;">
                                <h5 class="dlab-tilte m-b0" style="color: #fff !important; font-size: 17px !important;">Latest Equipments</h5><br/>
                                <p>Tailor study sessions according to your preferred schedule and pace. Be comfortable.</p>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang" style="background-color: #d9e9f4; border-radius: .75rem;">
                            <div class="icon-bx-xs radius"> <span class="icon-cell">
                                <img src="../../../../assets/images/icon/speciality-3.f893bcf2.svg" style="width: 56px !important; height: 56px !important;" alt="">

                            </span > </div>
                            <div class="icon-content">
                                <span>
                                    <h5 class="dlab-tilte m-b0" style="font-size: 17px !important;">Experience</h5><br/>
                                    <p>Tailor study sessions according to your preferred schedule and pace. Be comfortable.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang" style="background-color: #d9e9f4; border-radius: .75rem;">
                            <div class="icon-bx-xs radius"> <span class="icon-cell">
                                <img src="../../../../assets/images/icon/speciality-4.d627c786.svg" style="width: 56px !important; height: 56px !important;" alt="">
                            </span > </div>
                            <div class="icon-content">
                                <span>
                                    <h5 class="dlab-tilte m-b0" style="font-size: 17px !important;">Expert Instructors</h5><br/>
                                    <p>Tailor study sessions according to your preferred schedule and pace. Be comfortable.</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>