/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Cabin', sans-serif !important;
  }
  
  :host {
    font-family: 'Cabin', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Cabin', sans-serif !important;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 200px; Adjust width as needed */
    display: block;
  }

  @media print {
    body {
      display: none !important;
    }
  }
  
  html {
    backdrop-filter: blur(10px) !important;
  }
  