/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Cabin', sans-serif !important;
  }
  
  :host {
    font-family: 'Cabin', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    font-family: 'Cabin', sans-serif !important;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 200px; Adjust width as needed */
    display: block;
  }

  @media print {
    body {
      display: none !important;
    }
  }
  
  html {
    backdrop-filter: blur(10px) !important;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 5px !important;
  }
  
  .profile-dropdown {
    cursor: pointer;
    border-radius: .375rem;
  }
  
  @media (max-width: 576px) {
    .profile-dropdown .text-start {
      display: none;
    }
  }
  
  
  @import '~sweetalert2/dist/sweetalert2.min.css';

/* Optional: Custom styles */
.swal2-popup {
  font-family: 'Arial', sans-serif;
}

/* Custom Toast Styling */
.swal2-toast {
  border: 1px solid #ddd !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1) !important;
  border-radius: 8px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden !important;
}

.swal2-container {
  z-index: 9999999 !important; /* Higher than header's z-index */
  width: 100%;
  overflow: hidden;
}

/* Success Toast Specific */
.swal2-success {
  border-left: 4px solid #4CAF50 !important;
}

/* Error Toast Specific */
.swal2-error {
  border-left: 4px solid #f44336 !important;
}

/* Warning Toast Specific */
.swal2-warning {
  border-left: 4px solid #FF9800 !important;
}

/* Info Toast Specific */
.swal2-info {
  border-left: 4px solid #2196F3 !important;
}